# Ignora cartelle specifiche di Python
upo-machine-learning/Machine Learning/Logistic Regression With Gradient Descend/__pycache__/
*.pyc

# Ignora file di configurazione locali
.idea/
*.log
*.swp

# Ignora ambienti virtuali Python
venv/
.env/
Zone.Identifier

# Ignora i plot
Machine Learning/Hierarchical Clustering/Assets/Plot/*